.footer{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
   
    background-color: #165b74;
    font-family:cursive;
    
}

.footer h4{
    color: white;
}

