.navbar-menu{
    padding: 10px;
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #165b74;
    color: white;
}

.navbar-menu a{
    font-size: 16px;
    color: #dadada;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
    margin-right: 20px;
}

.navbar-menu .end{
    margin-left: auto;
}

.navbar-menu a:hover{
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
}

.navbar-menu .title{
    font-weight: bold;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 40px;
    font-family: cursive;
	

}



.navbar-menu .user-info{
    border: 2px solid green;
    border-radius: 4px;
    padding: 7px;
}
.i-user{
    margin-right: 3px;
    font-size: 22px;
    color: antiquewhite;
}